.contact__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.contact__h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contact__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
}

.contact__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
    max-width: 500px;
    padding: 12px;
    position: relative;
}

.contact__p {
    font-size: var(--step--3);
    line-height: 1.6;
}

.contact__above {
    color: var(--clr-secondary);
    font-weight: bolder;
}

.contact__image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.contact__image__child__cont {
    position: relative;
}

.contact-msg-img {
    width: 100%;
    max-width: 650px;
}
.contact__span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade.contact-fade1 {
    animation: fade .69s .3s ease-in forwards;
}
.animate.contact-mask1 {
    animation: slide 1s .3s ease forwards;
}

.fade.contact-fade2 {
    animation: fade .69s .5s ease-in forwards;
}
.animate.contact-mask2 {
    animation: slide 1s .5s ease forwards;
}

.fade.contact-fade3 {
    animation: fade .69s .7s ease-in forwards;
}
.animate.contact-mask3 {
    animation: slide 1s .7s ease forwards;
}
@media (min-width: 475px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    .contact-msg > img {
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .contact__desc {
        margin: 0 auto;
    }
}

@media (min-width: 1288px) {}

@media (min-width: 1536px) {
}