.projects__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.projects__h1-cont {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.projects__h1-cont > h1 {
    position: relative;
}
/* Main card container */
.project__card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/* Container of each card */
.projects__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
    width: 90%;
    min-height: 300px;
    background-color: var(--clr-bg-nav);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: scale(.1);
}

.project__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    text-align: center;
}

.projects__card>img {
    width: 100%;
    position: relative;
}

.project__desc>h3 {
    font-size: 1rem;
}
.project__desc>p {
    font-size: var(--step--3);
}

/* Animations */
.scale__animation {
    animation: scaleMe 1s .5s ease forwards;
}


@keyframes scaleMe {
    from {
        opacity: 0;
        transform: scale(.93);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (min-width: 475px) {
    .projects__card {
        max-width: 505px;
    }

    .projects__card>img {
        max-width: 505px;
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .projects__card>img {
        width: 100%;
    }
    .project__desc>h3 {
        font-size: var(--step--2);
    }
    
}

@media (min-width: 1288px) {
    .projects__card {
        width: 85%;
        flex-direction: row;
    }

    .project__desc {
        max-width: 700px;
        margin-inline: auto;
    }

    .project__card__container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .projects__card>img {
        max-width: 350px;
    }
    
    .projects__card {
        max-width: none;
    }
}

@media (min-width: 1536px) {}