:root {
  --clr-primary: rgb(31, 41, 55);
  --clr-primary-off: rgba(31, 41, 55, 0.55);
  --clr-secondary: rgb(243, 244, 246);
  --clr-bg-nav: #3b0764;
  --clr-mask: #804ea7;
  --clr-background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.33));


  /* typoggraphy */

  --step--3: clamp(0.7023rem, 0.544rem + 0.7914vw, 1.1574rem);
  --step--2: clamp(0.7901rem, 0.5819rem + 1.0413vw, 1.3889rem);
  --step--1: clamp(0.8889rem, 0.6184rem + 1.3527vw, 1.6667rem);
  --step-0: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  --step-1: clamp(1.125rem, 0.6815rem + 2.2174vw, 2.4rem);
  --step-2: clamp(1.2656rem, 0.7041rem + 2.8076vw, 2.88rem);
  --step-3: clamp(1.4238rem, 0.717rem + 3.5342vw, 3.456rem);
  --step-4: clamp(1.6018rem, 0.7165rem + 4.4268vw, 4.1472rem);
  --step-5: clamp(1.802rem, 0.6978rem + 5.5211vw, 4.9766rem);
}

::-webkit-scrollbar {
  width: .8em;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-mask);
}

.light-mode {
  --clr-primary: #f3f4f6;
  --clr-secondary: #1f2937;
  --clr-bg-nav: #d8b4fe;
  --clr-background: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.66));
}

html {
  scroll-behavior: smooth;
}
img, svg {
  display: inline;
}
h1,
p {
  padding: 0;
}

h1 {
  font-size: var(--step-2);
}

body {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  font-family: "Lato", sans-serif;
}

.container {
  /* border: 3px solid red; */
  margin-left: auto;
  margin-right: auto;
  min-width: 385px;
}

.button {
  text-decoration: none;
  color: var(--clr-secondary);
  background: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--clr-secondary);
  transition: color .3s ease, background-color .3s ease, transform .3s ease;
}

.button:hover {
  transform: translateY(-4px);
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

.lineNav {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 20px;
  top: 30px;
  padding: 15px;
  cursor: pointer;
  z-index: 50;
}

.lineNav>.line {
  width: 35px;
  height: 3px;
  background-color: var(--clr-secondary);
  transition: transform .3s ease;
}

.anim-line1 {
  transform: translate(0, 3.7px) rotate(-45deg);
  transition: transform .3s ease;
}

.anim-line2 {
  transform: translate(0, -6px) rotate(45deg);
  transition: transform .3s ease;
}

svg {
  fill: var(--clr-secondary);
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--clr-mask);
  overflow: hidden;
}

.animate {
  animation: slide 1s ease forwards;
}

.fade {
  animation: fade .9s ease-out forwards;
}

@keyframes slide {
  0% {
      width: 0%;
      left: 0%;
  }
  50% {
      width: 100%;
      left: 0%;
  }
  100% {
      width: 0%;
      left: 100%;
  }
}

@keyframes fade {
100% {
    opacity: 1;
}
}



@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1288px) {
  .container {
    max-width: 1288px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}




/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  position: fixed;
  bottom: 0;
  width: 100%;
}